html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
}


/*Header*/

.shadowed{
	filter: drop-shadow(0 0 15px #003366);
}

header{
}

#navbar{
	height: 60px;
	background: gray;
	border-bottom: solid 2px #003366;
	padding:0px;
}

/*Header End*/

/*Screen*/


#first-screen{
	height: calc(100vh - 60px);
	position: relative;
	font-family: 'Chelsea Market', cursive;
	/*background: black;*/
	background: linear-gradient( rgba(0, 0, 0, .6), rgba(0, 0, 0, .9) ),url(../imgs/first-screen-back.jpg) center/cover fixed;
	display: flex;
}

#first-screen>section{

	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#click:hover{
	cursor: pointer;
}


.screen{
	height: calc(120vh);
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	color: wheat;
	text-align: justify;
}

.screen h1{
	margin: 30px;
	font-size: 3rem;
	text-shadow: 0 0 10px #003366;
	text-align: center;
}

/*Screen END*/

/*First*/

#name{
	background: transparent;
	text-align: center;
	font-size: 2.5rem;
	font-weight: bolder;
	color: wheat;
	font-family: 'MuseoModerno', cursive;
}

#name>span{
	display: block;
	font-size: 0;
	font-weight: bold;
}

#f{
	text-shadow: 0 0 15px wheat;
	font-size: 9rem;
	font-family: 'BenchNine', sans-serif;
}
#s{
	text-shadow: 0 0 10px wheat;
	font-size: 9rem;
	font-family: 'BenchNine', sans-serif;
}
/*First End*/

/*Second*/

.vertical{
	border-left: solid 1px #003366;
	height: 90%;
	box-shadow: 0 0 10px #003366;
}
#product-about{
	height: 100%;
	width: 35%;
	padding: 15px;

}

.row{
	height: 50%;
	width: 100%;
}

.column{
	height: 100%;
	float: left;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#button{
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border: none;
	color: wheat;
	font-weight: bolder;
	font-size: 4rem;
	font-family: 'MuseoModerno', sans-serif;
	padding: 0 15px;


}
a{
	background: linear-gradient(to left, wheat , #85b412 , wheat  , #85b412 );
	position: relative;
	display: inline-block;
	overflow: hidden;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 500ms ease;

}
a:hover{
	text-decoration: none;
	background-position: 0 100%;

}


table, th, td {
	border: 1px solid black;
	box-shadow: 0 0 5px #003366;
	color: wheat;
	padding: 10px;
	font-family: 'MuseoModerno', sans-serif;
}

table button{
	background: transparent;
	color: wheat;
}


#box{
	position: relative;
	top: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 90vw;
	box-shadow: 0 0 10px #003366;
	padding: 0;
	font-family: 'MuseoModerno', sans-serif;

}

textarea{
	height: 25vh;
	width: 65vw;
	background: transparent;
	padding: 10px;
	color: wheat;
}

#service-img{
	height: 100%;
	width: 35%;
	padding: 15px;
}

#service-img img{
	display: block;
	margin: 20% auto;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7));
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.over{
	cursor: pointer;
}

.over:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#admin-form,#student-form{
	background: black;
}

#back-div{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background:black;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .7s ease;
}

#student-form{
	display: flex;
	align-items: center;
	justify-content: center;
}

#student-form section{
	width: 33%;
}

#token-form,#case-form,#application-form{
	background: black;
}

.continue{
	background: transparent;
	color: wheat;
}

input:not(.continue){
  
  border-width: 0 0 .2px 0;
  border-style: solid;
  border-color: wheat;
  padding: 9px 9px;
  margin: 1.5% auto;
  color: wheat;
  background: transparent;
  display: block;
  min-width: 30%;

 }

::placeholder{
 	color: wheat;
	opacity: .7;
	font-weight: bold;
}

.form-box{
	margin: 10% auto;
}


input[type="date"]:before {
	content: attr(placeholder) !important;
	color: wheat;
	font-weight: bold;
	opacity: .7;
	}
	input[type="date"]:focus:before,
	input[type="date"]:valid:before {
	content: "";
}

#show{
	color: wheat;
	font-family: 'MuseoModerno', sans-serif;

}

.flex{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4% auto;
}

#back{
	height: 100%;
	font-size: 1.2rem;
	padding: 0 15px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: firebrick;
}

#back:hover{
	text-shadow: 0 0 3px firebrick;
}

#token,#case,#application{
	cursor: pointer;
	-webkit-transition: .25s ease-in-out;

}

#token:hover,#case:hover,#application:hover{
	color: #003366;
	-webkit-transform: translate(0,-10px);

}
.new-button{
	font-size: 1.5rem;
	border: solid 1px #003366;
	box-shadow: 0 0 5px #003366;
	min-width: 10%;
	text-align: center;
	padding: 1px 5px;
	margin: 0 5%;
}
.new-button:hover{
	cursor: pointer;
	box-shadow: 0 0 160px #003366;
}
.styled select{
	background: transparent;
	background-color: black;
	width: 76%;
	height: 30px;
	border-color: wheat;
	color: wheat;
	font-weight: bold;
	opacity: .7;
}


#service-img .container{
	height: 20%;
	/*width: 20%;*/
	padding: 0;
}

#service-about{
	height: 100%;
	width: 65%;
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#button{
    -webkit-animation: moving 1s infinite;
    animation: moving 1s infinite;
    animation-direction: alternate;
}
	
@-webkit-keyframes moving {
    from {-webkit-transform: translateY(0px);}
    to {-webkit-transform: translateY(10px);}
}


/*Foot*/

#footer{
	height: 40vh;
	justify-content: center;
	align-items: center;
	display: flex;
	background: black;
}
hr{
	height: 1px;
	background-color: wheat;
	width: 40%;
	margin-top: 3px;
}
/*Foot END*/

ul {
	list-style-type: none;
}
