<!DOCTYPE html>
<html>
<head>
	<title>Welcome Admin</title>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=BenchNine&display=swap" rel="stylesheet">

	<!-- Fonts -->


	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<!-- CSS -->

	<!-- Icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<!-- Icons -->

</head>
<body>

	<div class="screen">
		<div class="flex">
			<table>
				<tr>
					<th>Roll No.</th>
					<th>Name</th>
					<th></th>
				</tr>
				<tr>
					<td>1701045</td>
					<td>Prajawal Kumar Pandey</td>
					<td><input type="button" name="1701045" value="View"></td>
				</tr>
				<tr>
					<td>1701005</td>
					<td>Amartya Dutta</td>
					<td><input type="button" name="1701005" value="View"></td>
				</tr>
				<tr>
					<td>1701046</td>
					<td>Prakhar Tiwari</td>
					<td><input type="button" name="1701046" value="View"></td>
				</tr>
				<tr>
					<td>1701047</td>
					<td>Prateek Jaiswal</td>
					<td><input type="button" name="1701047" value="View"></td>
				</tr>
			</table>
		</div>
	</div>


	<div class="overlay" id="back-div">
		<div id="back">
			<i class="fas fa-angle-double-left"></i>
			&nbsp;
			Back
		</div>
	</div>
	
	<div class="overlay"  id="show" style="background: black;">
		<div class="box">

			<div class="flex">
				<h1 id="heading">ROLL NUMBER</h1>
			</div>
			<input type="file" name="first" accept="application/pdf" />
			<input type="file" name="second" accept="application/pdf" />
			<input type="file" name="third" accept="application/pdf" />
			<div class="flex">
				<input type="button" value="ACCEPT">
				<input type="button" value="DENY">
			</div>
			
		</div>
	</div>

	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/admin.js"></script>

</body>
</html>